* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#f9f9fd;
}
code {
    display:block;
    margin-bottom:10px;
    text-align:center;
    font-weight:700;
    font-size:20px;
}
.menu{
    margin-bottom:20px;
    padding:10px;
    margin:0;
    list-style:none;
    border-radius:4px;
    background-color:#2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    display:flex;
}
.menu.flex-end {
    justify-content:flex-end;
}
.menu.center{
    justify-content:center;
}
.menu.space-between{
    justify-content: space-between;
}
.menu > item:not(last-child){
    margin-right:10px;
}
.menu.reversed {
    flex-direction:row-reverse;
    margin-top:20px;
}
.menu > .item:not(:last-child) {
    margin-right:10px;
}
.menu.reversed > .item:not(:last-child){
    margin-right:0px;
    margin-left:10px;
}
.menu .link {
    display:block;
    padding:10px;
    border-radius:4px;
    text-decoration:none;
    color:black;
    background-color:#fff;
}
.menu .link:hover{
    text-decoration:underline;
}
* {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#f9f9fd;
}
